# Contact Information
SUPPORT_EMAIL=support@laporparkir.com
GITHUB_URL=https://github.com/laporparkir

# Backend
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
